/*    */

.grad {
	
     /* For Firefox 3.6 to 15 */
background: green;
/*background: -moz-linear-gradient(top, #ffffff 0%, #aac791 100%);
background: -webkit-linear-gradient(top, #ffffff 0%, #aac791 100%);
background: -o-linear-gradient(top, #ffffff 0%, #aac791 100%);
background: -ms-linear-gradient(top, #ffffff 0%, #aac791 100%); */
background: linear-gradient(to bottom, #ffffff 0%, #aac791 100%) no-repeat;


}
