.webpage{
    font-size: 18px;
    font-family: "Atomic Age";
    color: #00FFFF;
    position: fixed;
    bottom: 0;
    right: 0;
    

}
.container{
  margin: 0 auto;
  width: 960px;

}
.whoami{
  
  display: block;
  
}

.whatamiworkingon{
  left: 30px;
  display: block;


}
.freetime {
  
  display: block;


}
.tagright2{
  
  display: block;

}
body{
  background-color: black;

}