.webpage{
    font-size: 18px;
    color: #00FFFF;
    float: left;

}
.whoami{
  float: left;
}
.container{
  margin: 0 auto;
  width: 960px;

}
.tagright{
  float: left;
  position: relative;
  top: 60px;
  right: 30px;


}
.tagleft{
  float: left;
  position: relative;
  top: 120px;
  right: 124px;
  


}
.tagright2{
  float: left;
  position: relative;
  top: 180px;
  right: 155px;
}
body{
  background-color: black;

}